
{block date}{$newsletter->number|nformat}{/block}

{block head}
<style type="text/css">
.author-sign {
	text-align: right; font-style: italic
}
</style>
{/block}

{block content}

<section id="main">
	<article n:foreach="$articles as $article" id="{$article->title|webalize}" class="clear">
		<header>
			<h1>{$article->title}</h1>
		</header>
		{if empty($article->html)}
			{!$article->text}
		{else}
			{!$article->html}
		{/if}
		<p n:if="!empty($article->author)" class="author-sign">{$article->author}</p>
	</article>
</section>

<aside>
	<article n:foreach="$fibers as $fiber" id="{$fiber->title|webalize}">
		<header>
			<h1 class="editable">{$fiber->title}</h1>
		</header>
		{if empty($fiber->html)}
			{!$fiber->text}
		{else}
			{!$fiber->html}
		{/if}
		<p n:if="!empty($fiber->author)" class="author-sign">{$fiber->author}</p>
	</article>

	<article id="sponsors">
		<header>
			<h1>Sponzori</h1>
		</header>

			<img src="http://spse-po.sk/sponsors/abb.png" width="180" height="112" alt="" />
			<img src="http://spse-po.sk/sponsors/asit.png" width="180" height="112" alt="" />
			<img src="http://spse-po.sk/sponsors/bl.png" width="180" height="112" alt="" />
			<img src="http://spse-po.sk/sponsors/cct.png" width="180" height="112" alt="" />
			<img src="http://spse-po.sk/sponsors/chemosvit.png" width="180" height="112" alt="" />
			<img src="http://spse-po.sk/sponsors/cisco.png" width="180" height="112" alt="" />
			<img src="http://spse-po.sk/sponsors/condornet.png" width="180" height="112" alt="" />
			<img src="http://spse-po.sk/sponsors/datalesko.png" width="180" height="112" alt="" />

			<img src="http://spse-po.sk/sponsors/defend.png" width="180" height="112" alt="" />
			<img src="http://spse-po.sk/sponsors/eaton.png" width="180" height="112" alt="" />
			<img src="http://spse-po.sk/sponsors/elcom.png" width="180" height="112" alt="" />
			<img src="http://spse-po.sk/sponsors/komora.png" width="180" height="112" alt="" />
			<img src="http://spse-po.sk/sponsors/mavex.png" width="180" height="112" alt="" />
			<img src="http://spse-po.sk/sponsors/mironix.png" width="180" height="112" alt="" />
			<img src="http://spse-po.sk/sponsors/nadaciaspse.png" width="180" height="112" alt="" />
			<img src="http://spse-po.sk/sponsors/neko.png" width="180" height="112" alt="" />

			<img src="http://spse-po.sk/sponsors/panasonic.png" width="180" height="112" alt="" />
			<img src="http://spse-po.sk/sponsors/ploskon.png" width="180" height="112" alt="" />
			<img src="http://spse-po.sk/sponsors/presto.png" width="180" height="112" alt="" />
			<img src="http://spse-po.sk/sponsors/siemens.png" width="180" height="112" alt="" />
			<img src="http://spse-po.sk/sponsors/sos.png" width="180" height="112" alt="" />
			<img src="http://spse-po.sk/sponsors/spinea.png" width="180" height="112" alt="" />
			<img src="http://spse-po.sk/sponsors/towercom.png" width="180" height="112" alt="" />
			<img src="http://spse-po.sk/sponsors/vallye.png" width="180" height="112" alt="" />
			<img src="http://spse-po.sk/sponsors/vse.png" width="180" height="112" alt="" />

			<img src="http://www.spse-po.sk/public/images/stories/loga/e.i.c..jpg" width="156" height="102" alt=""  style="margin: auto"/>
	</article>
</aside>
