<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="utf-8">
    <title>{ifset $title}{$title} - {/ifset}Administrácia</title>
    <link rel="stylesheet" href="{$basePath}/system/css/reset.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{$basePath}/system/css/admin/style.css">
    <link rel="stylesheet" href="{$basePath}/system/css/admin/entypo/stylesheet.css">
	<link rel="stylesheet" href="{$basePath}/system/css/jquery.modal.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">


    <script src="{$basePath}/system/js/netteForms.js"></script>

	<script src="{$basePath}/system/js/jquery-1.7.2.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="{$basePath}/system/js/jquery.modal.min.js"></script>

    <script src="{$basePath}/system/js/jquery-ui-timepicker-addon.js"></script>
    <script src="{$basePath}/system/js/dateinput.jquery.js"></script>
    <script src="{$basePath}/system/js/dateinput.js"></script>

	<style>
        .iconable { font-family: EntypoRegular; font-size: 32px; text-decoration: none; color: black; }
        .icon { line-height: 26px; }
        /* css for timepicker */
        .ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
        .ui-timepicker-div dl { text-align: left; }
        .ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
        .ui-timepicker-div dl dd { margin: 0 10px 10px 45%; }
        .ui-timepicker-div td { font-size: 90%; }
        .ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

        .ui-timepicker-rtl{ direction: rtl; }
        .ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
        .ui-timepicker-rtl dl dt{ float: right; clear: right; }
        .ui-timepicker-rtl dl dd { margin: 0 45% 10px 10px; }
        /* for week- and month-picker */
        .ui-datepicker-calendar tr:hover .ui-datepicker-week a,
        .ui-datepicker-calendar tbody:hover .ui-datepicker-month a { /* ui-state-hover */
            background: #fdf5ce url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/ui-lightness/images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;
            border: 1px solid #fbcb09;
            font-weight: bold;
            color: #c77405;
            text-decoration: none;
        }
        .ui-datepicker-calendar tr .ui-datepicker-week.ui-datepicker-week-current a,
        .ui-datepicker-calendar tbody .ui-datepicker-month.ui-datepicker-month-current a { /* ui-state-highlight */
            background: #ffe45c url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/ui-lightness/images/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x;
            border: 1px solid #fed22f;
            color: #363636;
        }
        .ui-datepicker-calendar tr .ui-datepicker-week.ui-datepicker-week-selected a,
        .ui-datepicker-calendar tbody .ui-datepicker-month.ui-datepicker-month-selected a { /* ui-state-active */
            background: url("http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/ui-lightness/images/ui-bg_glass_65_ffffff_1x400.png") repeat-x scroll 50% 50% #FFFFFF;
            border: 1px solid #fbd850;
            color: #eb8f00;
            font-weight: bold;
            text-decoration: none;
        }

        .error {
            color: red;
            font-weight: 700;
            background: rgba(255, 0, 0, 0.3);
            border: 1px solid #ff0000;
            margin: 0 0 10px 0;
        }
        .error li {
            padding: 10px;
        }
        .flash {
            margin: 0 0 10px 0;
            padding: 10px;
            font-weight: 700;
        }
        .flash.info {
            border: 1px solid #00ff00;
            background: rgba(0, 255, 0, 0.3);
        }
    </style>

    <script>
        $(function () {
            var elem = $('a[data-question]');
            elem.click(function (e) {
                var $this = $(this);
                if (!confirm($this.data('question'))) {
                    e.preventDefault();
                }
            });
        });
    </script>
</head>
<body>

<div class="container">
    <div id="header">
        <div class="logo">
            <img src="{$basePath}/system/images/admin_logo.png" width="174" height="50" alt="impulz logo">
        </div>
        <nav>
            <ul>
            {if $user->isLoggedIn()}
                <li><a n:href="Default:default">Home</a></li>
                <li><a n:href="Newsletter:add">Nový newsletter</a></li>
                <li><a n:href="Gallery:">Galeria</a></li>
                <li><a n:href="sponsors">Sponzori</a></li>
                <li{ifCurrent Publish:*} class="active"{/ifCurrent}><a n:href="Publish:">Odoslať newsletter</a></li>
                <li><a n:href=":Front:Default:default">web</a></li>
                <li><a n:href="Sign:out">Odhlásiť</a></li>
            {else}
                <li class="active"><a n:href="Sign:in">Prihlásiť</a></li>
            {/}
            </ul>
            <div class="right" n:if="$user->isLoggedIn()">Vitaj <strong>{$user->getIdentity()->full_name}</strong></div>
        </nav>
    </div>
    <div id="main-container">
        <header id="main-header">
            <h1 n:ifset="$title">{$title}</h1>
        </header>

        <section id="main">
            <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>
            {include #content}
        </section>
    </div>
    <div class="push"></div>
</div>

<div id="footer">
    <p class="right">&copy;2012, Jan Mochnak</p>
</div>
</body>
</html>