<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="utf-8">
    <title>{ifset $title}{$title} - {/ifset}Administrácia</title>
    <link rel="stylesheet" href="{$basePath}/system/css/reset.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{$basePath}/system/css/admin/admin.css">
    <link rel="stylesheet" href="{$basePath}/system/css/admin/entypo/stylesheet.css">
	<link rel="stylesheet" href="{$basePath}/system/css/jquery.modal.css">
	<script src="{$basePath}/system/js/jquery-1.7.2.min.js"></script>
	<script src="{$basePath}/system/js/jquery.modal.min.js"></script>

	<style>
        .iconable { font-family: EntypoRegular; font-size: 32px; text-decoration: none; color: black; }
        .icon { line-height: 26px; }
    </style>

    <script>
        $(function () {
            var elem = $('a[data-question]');
            elem.click(function (e) {
                var $this = $(this);
                if (!confirm($this.data('question'))) {
                    e.preventDefault();
                }
            });
        });
    </script>
</head>
<body>

<header>
    <h1>Administrácia</h1>
    <small><a href="http://spse-po.sk/newsletter">http://spse-po.sk/newsletter</a></small>
    <nav n:if="$user->isLoggedIn()"><ul>
        <li><a n:href="Default:default">Home</a></li>
        <li><a n:href="Newsletter:add">Nový newsletter</a></li>
        <li><a n:href="Gallery:">Galeria</a></li>
        <li><a n:href="sponsors">Sponzori</a></li>
        <li><a n:href="email">Odoslať newsletter</a></li>
        <li><a n:href=":Front:Default:default">web</a></li>
    </ul></nav>
</header>

<div class="clearfix"></div>

<section id="content">

    <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

	<h1 n:ifset="$title">{$title}</h1>
	{include #content}

</section>


<footer>
    <p>&copy; Ján Mochňak 2012-2013, running on Nette Framework 2.0.8 <code>2345j2k3h4j124h1k23</code> </p>
</footer>

</body>
</html>