{var $title = 'Publikácia newslettera'}

{block content}

<a href="{$campaign[archive_url]}" target="_new">Look that!</a>
<a n:href="sendTest!, $campaign[id]">Send test..</a>
<a n:href="removeCampaign, $campaign[id]">Delete that</a>