<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../../public/system/css/reset.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../less/compiled/admin.css">
</head>
<body>

<header>
    <h1>Administrácia</h1>
    <small><a href="http://spse-po.sk/newsletter">http://spse-po.sk/newsletter</a></small>
    <nav><ul>
        <li><a href="">home</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">nothing</a></li>
    </ul></nav>
</header>

<section id="content">

</section>


<footer>
    <p>&copy; Ján Mochňak 2012-2013, running on Nette Framework 2.0.8 <code>2345j2k3h4j124h1k23</code> </p>
</footer>

</body>
</html>